<!-- ./views/new.handlebars -->
<form action="/todos" method="POST">
    <div class="input-group mt-5">
        <input type="text" class="form-control" placeholder="name" name="name">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>

</form>